/* Estilos del body*/
body{
    background-color: #dfdddd;
}
.body-login {
    background-attachment: fixed;
    background-image: url(../imagen/fondo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Estilos del card*/

.card {
    margin-top: 50px;
    border-radius: 20px;
}

/* Estilos del input*/

input {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos del info*/


.btn-info {
    width: 50%;
    background-color: #800020;
    color: white;
}

/* Estilos del hover*/

.btn:hover {
    background-color: #af4660;
}

